<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>
  <body>
    <form
      action="/post/edit"
      method="post"
      style="display: flex; flex-direction: column">
      <input type="hidden" name="postNum" value="<%= postInfo._id %>" />
      <label for="title">Title:</label>
      <input
        type="text"
        name="title"
        id="title"
        value="<%= postInfo.title %>" />
      <label for="content">content:</label>
      <textarea type="text" name="content" id="content" cols="30" rows="10">
        <%= postInfo.content %>
      </textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
